#component-item {
  padding-bottom: 250px;
  user-select: none;
}
#component-item .title {
  font-weight: 500;
  color: #1f2f3d;
  margin-bottom: 50px;
  user-select: none;
}
#component-item .Subtitle {
  color: #515a6e;
  line-height: 60px;
  user-select: none;
}
#component-item .explain {
  color: #515a6e;
  line-height: 40px;
  font-size: 15px;
  user-select: none;
}
#component-item #myCode {
  background: #f7f7f7;
  font-family: "微软雅黑";
  font-size: 16px;
  border: 1px solid #eee;
  user-select: text;
}
