#component-item {
  padding-bottom: 250px;

  // 主标题
  .title {
    font-weight: 500;
    color: #1f2f3d;
    margin-bottom: 50px;
    user-select: none;
  }

  // 副标题
  .Subtitle {
    color: #515a6e;
    line-height: 60px;
    user-select: none;
  }

  // 说明
  .explain {
    color: #515a6e;
    line-height: 40px;
    font-size: 15px;
    user-select: none;
  }

  // 代码段
  #myCode {
    background: rgb(247, 247, 247);
    font-family: "微软雅黑";
    font-size: 16px;
    border: 1px solid #eee;
  }
}