#component-item {
  padding-bottom: 250px;
}
#component-item .title {
  font-weight: 500;
  color: #1f2f3d;
  margin-bottom: 50px;
}
#component-item .Subtitle {
  color: #515a6e;
  line-height: 60px;
}
#component-item .explain {
  color: #515a6e;
  line-height: 40px;
  font-size: 15px;
}
#component-item .explain span {
  background: #eee;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
#component-item #myCode {
  background: #f3f7ff;
  font-family: "微软雅黑";
  font-size: 16px;
  border-radius: 15px;
  user-select: text;
}
